#DATABASE_URL=postgres://[username]:[password]@[host]/[db_name]
DATABASE_URL=postgres://permaplant:permaplant@127.0.0.1/permaplant
BIND_ADDRESS_HOST=127.0.0.1
BIND_ADDRESS_PORT=8080
AUTH_SERVER_URL=http://localhost:8081/realms/PermaplanT/protocol/openid-connect/certs
