@tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  p, span, h1, h2, h3, li, label, a, th, td {
    @apply text-gray-600 dark:text-white;
  }
  a:hover {
    @apply hover:text-neutral-300 dark:text-neutral-300-dark;
  }
  body {
    @apply bg-neutral-200 dark:bg-neutral-100-dark dark:text-white
  }
}

@tailwind components;
@tailwind utilities;

