.shepherd-content {
    @apply bg-neutral-200-light dark:bg-neutral-200-dark;
}

div.shepherd-element {
    border-radius: 10px;
}

div.shepherd-arrow::before {
    @apply bg-neutral-200-light dark:bg-neutral-200-dark;
}

.shepherd-has-title .shepherd-content header.shepherd-header {
    @apply bg-neutral-100-light dark:bg-neutral-100-dark;
}

div.shepherd-text, h3.shepherd-title {
    @apply dark:text-white;
}

.shepherd-footer .shepherd-button {
    @apply bg-primary-500 dark:bg-primary-300 border-primary-500 hover:bg-primary-600 active:bg-primary-900 text-primary-50 dark:text-primary-700 rounded-lg text-sm font-medium focus:outline-none focus:ring-4 focus:ring-blue-300 border;
}

.shepherd-button {
    transition: none;
}

.shepherd-footer .shepherd-button.shepherd-button-secondary {
  border: 1px solid; /* override shepherd's native border styling of secondary buttons */
}

.shepherd-footer .shepherd-button.shepherd-button-secondary {
  @apply border border-opacity-100 border-neutral-500 dark:bg-neutral-300 dark:text-neutral-900  dark:hover:text-neutral-900;
}

.shepherd-button:not(:disabled):hover {
    @apply text-primary-50 dark:text-primary-700 hover:bg-primary-600 dark:bg-primary-200;
}

.shepherd-element.shepherd-element-attached-right {
    left: -30px !important;
}

.shepherd-element.shepherd-element-attached-left {
    left: 30px !important;
}

.highlighted {
    @apply border-solid border-4 border-secondary-200 dark:border-secondary-600;
}

input[type=radio].highlighted, input[type=date].highlighted {
    @apply outline outline-2 outline-secondary-200 dark:outline-secondary-600 outline-offset-1;
}

.action-step {
    @apply border-solid border-4 border-secondary-200 dark:border-secondary-600;
}
